body {
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;
    text-align: center;
    background-color: rgb(197, 228, 218);
}

main {
    color: rgb(52, 123, 185);
    line-height: 30px;
    margin-block: 60px;
}

h1 {
    color: grey;
    font-family: cursive;
}

h2 {
    color: grey;
    font: Arial;
}

ul {
    list-style-position: inside;
}

.paragraph{
    text-align: left;
}

footer {
    font-size: 15px;
    background-color: rgb(197, 228, 218);
    color: black;
    padding: 25px;
    border: 10px dotted rgb(62, 110, 150);
}

