body {
    text-align: center;
    font-family: serif;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-block: 60px;
    background-color: bisque;
}

h1 {
    font-style: oblique;
    color:rgb(26, 125, 125);
}

h2 {
    font-style: oblique;
    color:rgb(26, 125, 125)
}

section {
    color: rgb(56, 32, 2);
}

ul {
    list-style-position: inside;
}

.hiking {
    text-align: left;
}

footer {
    color:rgb(26, 125, 125);
    font-size: 15px;
    border: 10px dotted rgb(98, 65, 24);
    padding: 10px 10px;
}